@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --mainBg: rgb(231, 225, 220);
}

$base-color: rgb(211, 32, 184);
$base-fontsize: 30px;
body {
    color: $base-color;
    background-color: var(--mainBg);
    font-size: $base-fontsize;
}

h1 {
    @apply text-2xl;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

.bg-red {
    background-color: darkolivegreen;
}

.custom_class {
    @apply text-2xl text-red-500;
}

.myclass {
    @apply text-3xl rounded-2xl text-white bg-zinc-500 p-6 my-8 max-w-xl mx-auto shadow-lg;
}

.button-example {
    @apply text-3xl rounded-2xl leading-9 text-white bg-zinc-500 p-6 my-8 max-w-xl mx-auto shadow-lg;
    p {
        padding: 2em;
    }
}


/*next will be purged */

.does_not_exist {
    background-color: antiquewhite;
    padding: 20px;
}