@tailwind base;

@tailwind components;

@tailwind utilities;


$base-color: orange;

body {
    font-size: 20px;
    color: $base-color;
    background-color: linen;
}

.myUniqueClass {
    background-color: rgb(59, 38, 52);
    color: #fff;
    width: 300px;
    padding: 5px;
    user-select: none;
}

